<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password - Alumni Influencers</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Forgot Password</h1>
    <form action="/auth/forgot-password" method="POST">
        <label>Email: <input type="email" name="email" required></label><br>
        <button type="submit">Send Reset Email</button>
    </form>
    <p><a href="/auth/login">Back to Login</a></p>
</body>
</html>
