<!DOCTYPE html>
<html>
<head>
    <title>Register - Alumni Influencers</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Register</h1>
    <form action="/auth/register" method="POST">
        <label>Email (@eastminster.ac.uk): <input type="email" name="email" required></label><br>
        <label>Password (min 8 chars): <input type="password" name="password" required></label><br>
        <button type="submit">Register</button>
    </form>
    <p><a href="/auth/login">Login</a></p>
</body>
</html>
