<!DOCTYPE html>
<html>
<head>
    <title>Reset Password - Alumni Influencers</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Reset Password</h1>
    <form action="/auth/reset-password/<%= token %>" method="POST">
        <label>New Password (min 8 chars): <input type="password" name="password" required></label><br>
        <button type="submit">Reset Password</button>
    </form>
</body>
</html>
